/*
Nama        : William Chrisandy
NIM         : 2301862941
Kelas       : LA03
Mata Kuliah : MOBI6012001 - Web Design
Nama Dosen  : D5022 - Ramot Lubis, S.T., M.Sc.
*/

:root
{
    --primary: #70000e;
    --secondary: #d6bba6;
    --custom-black: #1D1D1D;
}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    word-wrap: break-word;
}

header
{
    background-color: var(--secondary);
    position: fixed;
    width: 100%;
    padding: 1vh;
    top: 0;
    z-index: 100;
}

nav ul
{
    background-color: var(--primary);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh 5vh;
    border-radius: 5rem;
    padding: 1vh;
}

li
{
    list-style: none;
}

.active
{
    border: 0.1rem solid var(--secondary);
    border-radius: 1rem;
}

.main-page img
{
    width: 24px;
    height: auto;
}

.main-page figure
{
    padding: 1rem 3rem;
    gap: 0.5rem;
}

.image-link
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-link figure
{
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    color: var(--secondary);
}

.link
{
    color: var(--primary);
}

section
{
    background-color: var(--secondary);
    border: 0.1rem solid lightgrey;
    border-radius: 1vh;
    margin: 4vh;
    padding: 2vh;
}

h1
{
    text-align: center;
}

.section-title
{
    font-family: cursive;
    margin-bottom: 4vh;
}

.banner
{
    text-align: center;
}

p
{
    font-size: large;
    text-align: justify;
    color: var(--primary);
    line-height: 2rem;
    margin-bottom: 1.5rem;
}

footer
{
    color: var(--primary);
    background-color: var(--secondary);
    padding: 3vh;
}

footer p
{
    text-align: center;
    margin: 0;
}

table
{
    width: 100%;
    border: 0.2rem solid var(--primary);
    border-radius: 0.5rem;
    background: rgba(112, 0, 14, 0.3);
}

th, td
{
    padding: 1vh;
    border: 0.1rem solid var(--primary);
}

th
{
    font-size: larger;
}

tr
{
    text-align: center;
}

img
{
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 1024px)
{
    h1
    {
        font-size: larger;
    }

    h3
    {
        font-size: medium;
    }

    article p
    {
        font-size: medium;
        line-height: 1.5rem;
    }

    .main-page figure
    {
        padding: 1rem 0.5rem;
        gap: 0.5rem;
    }

    nav
    {
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: space-around;
        border-radius: 1rem;
    }
    
    .section-title
    {
        margin: 1vh;
        padding: 1vh;
    }

    .flex .about-us-detail
    {
        width: 45%;
        margin: 1vh 0;
    }
}

@media screen and (max-width: 420px)
{
    h1
    {
        font-size: large;
    }

    article p
    {
        font-size: medium;
        line-height: 1.5rem;
    }

    .main-page figcaption
    {
        display: none;
    }

    .main-page img
    {
        width: 16px;
    }
}